* {
  font-family: 'Roboto', sans-serif;
}

/*Background*/
.background{
  min-height: 100vh;
  background: #6FCAF9;
}

/*Header*/

.header{
  color: rgb(12, 13, 70);
  font-size: 35px;
  text-shadow: rgba(128, 128, 128, 0.68) 0px 8px 24px;
}

/*Form*/

.instruction{
  font-size: 20px;
  color: rgb(12, 13, 70);
}

.form{
  background-color: #fff;
  border-radius: 25px;
  max-width: 500px;
}

.form-input{
  border: none;
  outline: none;
  padding-left: 22px;
  border-radius: 25px;
  height: 40px;
  font-size: 18px;
  width: 100%;
}

.form-input:focus{
  color: #000;
}

.form-input::placeholder{
  color: #fdcb12;
}

.form-button{
  border-radius: 25px;
  border: none;
  background: none;
  height: 40px;
  width: 60px;
  color: #fdcb12;
  outline: none;
  font-size: 18px;
}

.form-button:hover{
  color: #000;
}

/*Today*/

.today{
  color: #fff;
  background-color: #18181B;
  border: 1px solid rgb(40, 40, 40);
  box-shadow: rgba(70, 70, 70, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.weather-icon{
  width: 135px;
}

.current-date{
  font-size: 20px;
}

.current-description{
  font-size: 20px;
}

.current-degree{
  font-size: 65px;
}

.fa-map-marker-alt{
  font-size: 20px;
}

/*Information*/

.information{
  color: #FFC107;
}

.information:hover{
  color: #fff;
}

/*Days*/

.days{
  background-color: #18181B;
  box-shadow: rgba(70, 70, 70, 0.35) 0px 5px 15px;
  border-radius: 20px;
  color: #fff;
}

.days:hover{
  background-color: #FDCB12;
}

.days-icon{
  width: 60px;
}

.days-weekday{
  font-size: 18px;
}

/*Loader*/

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #FDCB12;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 0.6) infinite;
  box-shadow: rgba(148, 148, 148, 0.5) 0px 8px 24px;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*Error*/

.error{
  text-shadow: rgba(148, 148, 148, 0.5) 0px 8px 24px;
}

.error h3{
  color: #FDCB12;
}

.error i{
  color: #FDCB12;
  font-size: 22px;
}

/*Reload*/

.reload{
  background: #FDCB12;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 18px 0px;
}

.reload:hover{
  background: none;
  outline: 2px solid #FDCB12;
  color: #FDCB12;
}